body {
  background-color: black;
  color: white;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .weather {
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.weather span {
  font-weight: bold;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
